.pr-photo{
    height: 200px;
    width: 200px;
    border: solid 4px rgb(27, 179, 171);
    border-radius: 20px;
}
.profile-input {
    border: 1.5px solid #98989c !important;
    border-radius: 5px;
    line-height: 2vw;
}
.profile-gr {
    font-weight: 600;
}
.chng-pr-pic{
    color: white;
    background-color: #9929FD;
    font-size: 2.2vh;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 200px;
    /* max-height: 6.5vh; */
}
.update-btn{
    color: white;
    background-color: #9929FD;
    font-size: 2.2vh;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 18px;
    padding-right: 18px;
    /* max-width: 220px; */
    max-height: 6.5vh;
}

.cncl-btn{
    background-color: white;
    color: black;
    border: solid 0.5px #98989c;;
    font-size: 2.2vh;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 20px;
    padding-right: 20px;
    /* max-width: 220px; */
    max-height: 6.5vh;
}

.submit-subcat{
    color: white;
    background-color: #9929FD;
    font-size: 2.2vh;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 200px;
    max-height: 6.5vh;
}

.cnc-btn{
    background-color: white;
    color: black;
    border: solid 0.5px #9929FD;;
}
.select-intr{
    font-size: 2.8vh;
    padding-top: 30px;
    color: #03cbc9;
    font-weight: 600;
    padding-bottom: 20px;
}
.btn-chk-box{
    border: solid 1px  #03cbc9;
    height: 2.5vh;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 2px;
}
.sub-cat-btn{
    margin-top: 0px;
    margin-left: 20px;
    border-radius: 20px;
    border: solid 1px #9929FD;
    background-color: white;
    color: black;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:3px;
    padding-bottom:3px;
}

.profile-gr{
    color: #98989C;
}

.sub-cat-btn-act{
    background-color: #b25ee6 !important;
    color: white;
}
/* ::-webkit-file-upload-button{
    display: none;
} */

/* input[type="file" i]{
    position: relative;
    top: -15px;
    margin-bottom: 0;
    width: 75%;
    color: #9929FD;
    opacity: 0;
    
} */

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background-color: #9929FD;
    color: white;
    border-radius: 20px;
    font-size: 2vh;
}
.fileUpload:focus{
    color: white !important;
}
.fileUpload:active{
    color: white !important;
}
.fileUpload:hover{
    color: white;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.overlay-iwarn {
    position: absolute; 
   
    width: 220px; /* Full width (cover the whole page) */
    height: 120px; /* Full height (cover the whole page) */
    /* top: 20%; */
    
    /* right: 10%; */
    /* bottom: 0; */
    z-index: 22;
    background-color: black;
    overflow: auto;    
    opacity: 0.8;
    padding-left: 15px;
    color: white;
    padding-top: 10px;
    
  }
  .inp-Pc{
      z-index: 9999999 !important;
  }

  input:focus{
      outline: none;
      box-shadow: none;
  }

  .my-sve{
      color: #03cbc9;
      font-size: 3vh;
      font-weight: 500;
      padding: 10px;
      padding-top: 20px;
      padding-left: 15px;
  }
  .contain-docs{
      width: 220px;
      height: 120px;
      padding: 15px !important;
      margin-bottom: 25px;
      background-color: #F6ECFF;
      border-radius: 10px;
  }
  .btm-head{
      height: 27px;
      position: relative;
      top: 23px;
      width: 218px;
      left: -14px;
      padding-left: 0 !important;
      margin-left: 0 !important;
      background-color: #EAC7FF;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  .pw-eye{
    /* background-color: #EAC7FF !important; */
    width: 31px;
    margin-top: -11px;
    padding-top: 3.3px;
    height: 20px;
  }
  .eye-ic::before{
      margin-left: 8px;
  }
  .pur-update{
    color: white;
    background-color: #9929FD;
    font-size: 2.2vh;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .wh-btn{
    color: black;
    background-color: white;
    font-size: 2.2vh;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 1px black;
    /* margin-top: -10px !important; */
  }
  .cont-num{
      font-size: 2.7vh;
      color: #03cbc9;
      font-weight: 500;
      padding: 20px;
      padding-left: 25px;
  }
  .verified-lgn{
      color: #03cbc9;
      border: solid 1px #03cbc9;
      background-color: white;
      border-radius: 5px;
      font-size: 1.8vh;
      margin-top: -3px;

  }

  .btnMePc2{
      margin-left: 10px;
  }


  .overlay-verify {
    position: fixed; 
   
    width: 50%; /* Full width (cover the whole page) */
    height: 40%; /* Full height (cover the whole page) */
    top: 20%;
    
    left: 25%;
    background-color:white;
    overflow: auto;    
    padding-left: 15px;
    color: black;
    padding-top: 10px;
    
  }

  .pkd-det{
      text-decoration: underline;
      font-size: 2vh;
      padding-bottom: 10px;
  }

 

  .cont-cont{
    max-width: 94%;
    margin: auto;
}

.noti-btn{
    color: white;
    background-color: #03cbc9;
    border-radius: 20px;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
    /* margin-left: -10px; */
}

.tableCon {
    -webkit-align-content: center;
    align-content: center;
    text-align: center;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    font-weight: 600;
}
.theading {
    background: #e6d4f6!important;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    font-weight: 600;
}
td {
    background-color: #fafafa!important;
}
.chkinp {
    float: left;
    margin-top: .55vh;
    min-width: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.rc-b {
    height: 2.35vh;
    padding-left: 0;
    margin-left: -3vw;
    background: none;
}
.rc-b, .rcb-btn {
    background: none;
}
.rcb-btn, .rcb-btn:focus {
    outline: none;
    border: none;
}

.btnMe {
    outline: none!important;
    border: none;
    border-radius: 20px;
    padding: 1.108vh 1.62vw;
    min-width: 9.114vw!important;
    margin: 3.46vh 3.46vh 2.07vh;
}

@media only screen and  (max-width: 770px) {
    .overlay-verify{
        width: 90%;
        left: 5%;
    }
}

@media only screen and  (min-width: 577px) and (max-width:1050px){
    .noti-btn{
        margin-left: -13px;
    }
} 


  @media only screen and  (min-width: 582px){
    .cont-cont{
        max-width: 48%;
        margin: auto;
    }
  }



@media only screen and  (min-width: 1850px){
    .pr-photo{
        height: 14vw;
        width: 14vw;  
    }
    .chng-pr-pic{
        margin-left: 1.2vw;
    }
}














