.topmenu-btn{
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 25px;
    font-size: 2.4vh;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border: none;
    margin-top: 10px;
}
.top-Menus{
    margin-left: 8px;
    margin-bottom: 20px;
    max-width: 89vw;
    overflow-x: auto !important;
    white-space: nowrap !important;
    padding-bottom: 0;
    display: list-item !important;
}
.topMenu-icon{
    height: 2.5vh;
    margin-right: 1vw;
}
.active-menu{
    border-bottom: 3px #03CBC9 solid;
}
.topBtn-MyAct{
    max-width: 89vw;
    overflow-x: auto !important;
    white-space: nowrap !important;
    display: list-item !important;
}
.btnMyAct{
    margin-right: 20px;
}

@media only screen and (max-width: 1165px){
    .topmenu-btn{
        padding-left: 8px;
        padding-right: 8px;
        margin-right: 15px;
        font-size: 2.2vh;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .top-Menus{
        margin-left: 8px;
    }
}


/* @media only screen and (max-width: 985px){
    .topmenu-btn{
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 10px;
        font-size: 2vh;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .top-Menus{
        margin-left: 10px;
    }
    .topMenu-icon{
        height: 2.2vh;
        margin-right: 1vw;
    }
} */


@media only screen and (max-width: 850px){
    /* .topmenu-btn{
        padding-left: 3px;
        padding-right: 3px;
        margin-right: 8px;
        font-size: 1.8vh;
        padding-top: 3px;
        padding-bottom: 3px;
    } */
    .top-Menus{
        max-width: 87vw;
        margin-left: -5px;
    }
    /* .topMenu-icon{
        height: 2vh;
        margin-right: 1vw;
    } */
}