.promos-btn-color {
  background: #9929fd;
  box-shadow: 5px 5px 40px -2px #b6a6c6;
  border-radius: 44px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

.promos-btn-disabled-white {
  background: #ffffff;
  border-radius: 44px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #252525;
}
