



.test:hover{

    cursor: pointer;
    filter:invert(73%) sepia(67%) saturate(4102%) hue-rotate(135deg) brightness(97%) contrast(98%) !important;
}

.outer {
    position: relative;
    height: 15vw !important;
    /* width: 20.55vw; */
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
.outer:before {
    display: block;
    content: "";
    /* padding-top: 56.25%; */
}
.item > .img1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    margin: auto;
    padding:auto;
    max-width:100% ;
    max-height: 100%;
    
}

.img1{
    border-radius: 0px;
    margin-top: 0;   
}

.nbtn{
    background: none;
    border: none;
    float: left !important;
}



@media only screen and (max-width: 420px){
    .carousel-content.show-3 > * {
      width: calc(100% / 0.89);
  }
  .outer {
    height: 40vw !important;
    width: 100% !important;
    margin-left: 30px !important;
    }
    .carousel-containerS {
        margin-left: 0vw;
      
      }

  }


  .newCon{
    display: grid;
  grid-gap: 10px;
  width: 80vw;
  overflow-x: auto;
  grid-template-columns:
    20px
    repeat(6, calc(20vw))
    10px;
  grid-template-rows: minmax(150px, 1fr);
  }

 


