@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Nunito:300,400,700&amp;display=swap");

:root {
  --member-animation: all 0.35s ease-in-out;
  --font-family-1: "Josefin Sans", sans-serif;
  --font-family-2: Nunito, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* TIMELINE */
#timeline-container {
  background: rgb(255, 255, 255);
  overflow: auto;
  padding: 40px 0;
  margin-top: 40px;
}
.work_experience_head {
    font-size: 1.5rem,
}
.timeline-data {
    color: #98989c;
    font-size: 1.2rem;
    font-weight: 700;
}
.timeline {
    margin-top: 3rem;
}
@media only screen and (max-width: 740px) {
    .work_experience_head {
        font-size: 1rem,
    }
}




.hd-pr{
  font-size: 2.5vh;
  font-weight: 600;
  
}

.sub-hd-pr{
  font-weight: 600;
  font-size: 2vh;
  color: #98989C;
}
.list-itm-prd{
  font-weight: 1.8vh;
}

.btn-ad-an-prd{
  border-radius: 20px;
  background-color: rgb(3, 203, 201);
  color: white;
  border-radius: none;
  outline: none;
  border: none;
  padding-right: 15px;
  padding-left: 15px;
}
.btn-ad-an-prd:focus{
  outline: none;
}


input:focus{
  outline: none !important;
  border: solid 1px black;
  box-shadow: none;

}
input:active{
  outline: none !important;
}

.jb-ps-pr{
  font-weight: 600;
  font-size: 1.9vh;
  color: #98989C;
}


.btn-up-prd{
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  margin-right: 20px;
  font-size: 2.1vh;
  background-color: #9929FD;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}



.btn-cn-prd{
  color: black;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  margin-right: 20px;
  font-size: 2.1vh;
  border: solid 1px #98989C;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: white;
}